.logo {
	width: 8rem;
	height: 8rem;
}

.camera {
	width: 20rem;
	height: 20rem;
	border: double .5rem gray;
}

.parent-enfant {
	width: 20rem;
	height: 20rem;
	border: double .5rem gray;
}

.phone,.mail {
	border: 1px solid $color-border;
   	background-color: $color-main;
        color: black;
        box-shadow: 1px 1px 1px 1px $color-main;
	text-decoration: none;
}
